<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="snicorp.snd.migration.mapper.sandi.SandiMemberMapper">

    <delete id="deleteUser">
        delete from "user";
    </delete>
    <delete id="deleteUserDormancy">
        delete from "user_dormancy";
    </delete>
    <select  id="resetSeq">

        ALTER SEQUENCE user_seq RESTART WITH 1

    </select>
  <insert id="insertMember" parameterType="Member">

      <selectKey keyProperty="userId" resultType="int" order="BEFORE">
          select nextval('user_seq')
      </selectKey>
    insert into "user" (user_id, email,  password, password_updated_at, nickname, name, mobile_number,
                          gender, is_closed, member_ty_code, member_ci, pass_fail_cnt, admin_nickname, birthday,
                          mylgid_join_yn, affmemcd, qr_value, pricert_yn, reg_id, created_at, mod_id, updated_at,
                          is_dormancy,use_yn,closed_at,dormancy_at)
    values (#{userId},
            #{email},
            #{password},
            #{passwordUpdatedAt},
            #{nickname},
            #{name},
            #{mobileNumber},
            #{gender},
            #{isClosed},
            #{memberTyCode},
            #{memberCi},
            #{passFailCnt},
            #{adminNickname},
            #{birthday},
            #{mylgidJoinYn},
            #{affmemcd},
            #{qrValue},
            #{pricertYn},
            #{regId},
            #{createdAt},
            #{modId},
            #{updatedAt},
            #{isDormancy},
            #{useYn},
            #{closedAt},
            #{dormancyAt}

 );
</insert>
    <insert id="insertDormacy" parameterType="MemberDormancy">
        insert into user_dormancy (user_id, packing_data, created_at)
        values (#{userId},CAST(#{packingData} AS json),CURRENT_TIMESTAMP);
    </insert>

</mapper>